@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --blue: #287CFF;
    --white: #FFFFFF;
    --title: #000000;
    --gray: #ADADAD;
    --background: #F0F2F5;
    --red: #e92929;
    --darkGray: #555555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: var(--background);
}

/* ================================= ELEMENTOS GERAIS ================================= */

/* === DIMENSÃO DAS PÁGINAS === */

#dashboard,
#client,
#announcement,
#report,
#client-register,
#announcement-register,
#announcement-view {
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 220px);
}

/* === TITULO PÁGINAS === */
.title-page {
    width: 90%;
    max-width: 840px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-page h1 {
    color: var(--blue);
}

/* === BOTÕES === */

button {
    width: 110px;
    height: 35px;
    font-weight: bold;
    color: var(--white);
    border: 0;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}
button.positive {
    background-color: var(--blue);
}
button.positive:hover {
    opacity: 0.8;
}

button.negative {
    background-color: var(--red);
}
button.negative:hover {
    opacity: 0.8;
}

.buttons-div {
    display: flex;
    justify-content: space-between;
}

/* ================================= MENU ================================= */


.menu-bar { 
    width: 220px;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;

    
}

.logo {
    color: var(--white);
    margin: 30px 0 30px 0; 
    text-align: center;
}

/* Menu que está clicado */
#active-menu {
    color: var(--blue);
    background-color: var(--white);
    border-radius: 30px 0 0 30px;
    
}
.menu-bar nav {
    display: flex;
    flex-direction: column;
}
.menu-bar nav p {
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    padding: 10px 0 10px 0;
    margin-left: 70px;
    padding-left: 20px;     
}

nav p:hover {
    background-color: #6ba3fc;
    cursor: pointer;
    
    border-radius: 30px 0 0 30px;
}

/* ================================= DASHBOARD ================================= */

#dashboard {
    display: none;
}

.box-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 840px;
    height: 110px;
    margin-bottom: 30px;
}

.box-info .box-dashboard {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 200px;
    height: 110px;
    border-radius: 15px;
    background-color: var(--white);
}
.box-info .box-dashboard h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--gray);
    margin-bottom: 10px;
}
.box-info .box-dashboard p {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
}




/* ================================= CLIENTES ================================= */
#client {
    display: none;
}

#client-register {
    display: flex;
}



/* ================================= ANÚNCIOS ================================= */
#announcement {
    display: none;
}

/* === TELA REGISTRO ANÚNCIO === */
#announcement-register {
    display: none;
}

/* === TELA VISUALIZAÇÃO DE ANÚNCIO INDIVIDUAL === */
#announcement-view {
    display: none;
}

#announcement-view .box-info {
    margin-top: 50px;
}
#announcement-view .buttons-div {
    width: 90%;
    max-width: 840px;
    margin-top: 20px;
}

/* ================================= RELATÓRIOS ================================= */
#report {
    display: none;
}

.total-report {
    font-weight: bold;
}


/* ================================= TABELAS ================================= */

/* === GERAL === */

#data-table,
#data-client,
#data-announcement,
#data-report {
    width: 90%;
    max-width: 840px;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table thead tr td:first-child {
    border-radius: 5px 0 0 5px;
}
table thead tr th:last-child,
table thead tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: white;
    font-weight: 500;
    padding: 10px 10px;
    text-align: center;
    color: var(--title);
}

table tbody tr {
    opacity: 1;
}

table tbody tr:hover {
    opacity: 0.5;
}

table td{
    background: var(--white);
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
}

/* ================================= FORMULÁRIO DE CADASTRO ================================= */

.data-form {
    width: 90%;
    max-width: 840px;
    display: flex;
    flex-direction: column;
}
.data-form h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    color: var(--title);
}
.data-form input {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.data-client {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

span {
    font-size: 12px;
    color: var(--darkGray);
    margin: 5px 0 0 5px;
}