/* ---------- ROOT VARIABLES ---------- */
:root {
    --color-primary: #666EFF;
    --color-secondary: #303473;
    --color-terciary: #2DC264;
    --color-fourt: #23222B;
    --color-white: #FFFFFF;
    --color-dark: #909aa4;
    --color-background: #18151D;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    background: var(--color-background);
}


/* ============== STUDENT CARD ============== */

.student-box {
    width: 32rem;
    height: 15rem;
    background-color: var(--color-dark);
}

.student-box .student-profile {
    border-radius: 2rem 0 0 2rem;
    width: auto;
    height: 100%;
}

.student-box .student-profile:hover {
    box-shadow: 1px 1px 20px 1px var(--color-primary);
}

h2 {
    color: var(--color-primary);
    font-size: 28px;
}

h5{
    color: var(--color-dark);
}

.student-box {
    box-shadow: 1px 1px 20px 1px var(--color-dark);
}

.student-box:hover {
    box-shadow: none;
}

/* ============== STUDENT CARD CONTACT ============== */

.student-box .student-contact a svg{
    height: 2.5rem;
    fill: var(--color-white);
}
.student-box .student-contact a svg:hover {
    box-shadow: 1px 1px 10px 1px var(--color-dark);
}


/* ============== STUDENT CARD INTERESTS ============== */
.student-box .student-interests a img {
    height: 2.5rem;
}

.student-box .student-interests a img:hover {
    box-shadow: 1px 1px 20px 1px var(--color-dark);
}

footer {
    text-align: center;
    color: #FFF;
}

footer::after {
    content: "© Copyright 2022 | Emerson Seiler | seiler-emerson@github.io";
}  

/* ============== MEDIA QUERIES ============== */

@media screen and (max-width: 576px) {
    .student-box {
        width: 90%;
        height: auto;
    }
    .student-box .student-profile {
        width: 100%;
        height: auto;
        border-radius: 2rem 2rem 0 0;
    }
}